body {
    margin: 0;
    padding: 3rem ;
}

main {
    width: 80%;
    margin: auto;
}

.diapo {
    position: relative;
    overflow: hidden;
}

/*placement arrows*/
#navRight, #navLeft {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-size: 3em;
}

#navRight {
    right: 20px;
}

#navLeft {
    left: 20px;
}

/*placement diapo*/
.elements {
    display: flex;
    transition: 1s linear;
}

.element {
    flex: 1 0 100%;
    position: relative;
}

/*size img*/
.element > img {
    width: 100%;
}

/*text*/
.caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: white;
    padding: 30px;
}